<template name="footer">

  <header id="header" class="">
    <nav>
      <a href="/" class="logo">SRG</a>
      <ul class="main-nav">
        <li class="btn-products"><a href="">Products</a></li>
        <li><a href="">Our story</a></li>
        <li><a href="" class="btn-preorder">Pre-order now</a></li>
        <li><a href="">Contact us</a></li>
      </ul>

      <ul class="secondary-nav">
        <li><a href="https://www.facebook.com" target="_blank">Facebook</a></li>
        <li><a href="http://www.youtube.com" target="_blank">Youtube</a></li>
      </ul>
    </nav>
    <div class="products">
      <ul>
        <li>
          <a href="">
            <img src="/photos/header_ads.jpg" alt="ADS">
            <div class="hover">
              <img src="/photos/header_ads-hover.png" alt="ADS">
            </div>
          </a>
        </li>
        <li>
          <a href="">
            <img src="/photos/header_ads.jpg" alt="ADS">
            <div class="hover">
              <img src="/photos/header_ads-hover.png" alt="ADS">
            </div>
          </a>
        </li>
        <li>
          <a href="">
            <img src="/photos/header_ads.jpg" alt="ADS">
            <div class="hover">
              <img src="/photos/header_ads-hover.png" alt="ADS">
            </div>
          </a>
        </li>
      </ul>
      <a href="" class="btn-close-products"><span class="icon"></span><span class="text">Close</span></a>
    </div>
  </header>

</template>
