<template name="homepage">

  <span>{{> bkVideo }}</span>>

  <div id="wrapper">
      <div id="preorder">
        <div>
          <h2>Pre-order<br>the ADS<sup>TM</sup> System<br>now!</h2>

          <div class="left">
            <div class="animated-line animated"><div></div></div>
            <p>We know that safety is your number one concern on the road. You would never get into a car without functioning seat belts or air bags. Before long, you will feel the same way about the ADS<sup>TM</sup> System.</p>
            <p>Technology and science have always been on your side to protect you, and the ADS<sup>TM</sup> System is the ultimate proof. In fact, it protects you even before something bad happens to you or your loved ones.</p>
            <p>Your subscription to the newsletter will give you access to a special offer and more importantly, you will get to experience a new level of peace of mind behind the wheel. Pre-order now and be one of the first to embrace a new era of car safety.</p>
          </div>

          <div class="right">
            <div class="animated-line animated"><div></div></div>
            <form name="preorderform" id="preorderform" method="post">
              <input type="text" name="name" data-placeholder="Your Name" value="Your Name">
              <input type="text" name="email" data-placeholder="Your Email Address" value="Your Email Address">
              <a href="" class="submit">Pre-order</a>
              <p class="error-msg">Please fill in both fields.</p>
            </form>
            <div class="confirmation">
              <p>Thank you for pre-ordering the ADS<sup>TM</sup> System.</p>
            </div>
          </div>

          <div class="btn-close-products-container"><a href="" class="btn-close-products"><span class="icon"></span><span class="text">Close</span></a></div>
        </div>
      </div>
      <!-- \Preorder -->
      <section id="section-home">
        <!-- First Block -->
        <div id="slider-container-home" style="height: 551px;">
          <ul class="slider-arrows" style="top: 275.5px;">
            <li class="previous"><a href=""><span class="bg">Previous</span><span class="hover"></span></a></li>
            <li class="count">1 / 3</li>
            <li class="next"><a href=""><span class="bg">Next</span><span class="hover"></span></a></li>
          </ul>

          <div class="slider-infos"></div>

          <div class="slider-alt-nav" style="opacity: 1.4765863119977833;">
            <div class="centered-v" style="top: 16.5px;">
              <div class="logo">
                <div class="animated-line animated"><div></div></div>
              </div>
              <h1 class="small">
                We believe <br>that every life <br>is important
              </h1>
              <div class="animated-line animated"><div></div></div>
              <a href="" class="btn-scroll"></a>
            </div>

            <ul class="main-nav">
              <li class="products">
                <a href="product-ads.php" class="btn-products">
                  <div class="animated-line animated"><div></div></div>
                  <span>Products</span>
                </a>
              </li>
              <li class="our-story">
                <a href="our-story.php">
                  <div class="animated-line animated"><div></div></div>
                  <span>Our story</span>
                </a>
              </li>
              <li class="contact-us small">
                <a href="contact-us.php">
                  <div class="animated-line animated"><div></div></div>
                  <span>Contact us</span>
                </a>
              </li>
              <li class="facebook">
                <a href="https://www.facebook.com/pages/SRG-International/556041861127524" target="_blank">
                  <div class="animated-line animated"><div></div></div>
                  <span>Facebook</span>
                </a>
              </li>
              <li class="youtube">
                <a href="http://www.youtube.com/channel/UCigFQZOgpJH-SIvj3nL2svg/videos" target="_blank">
                  <div class="animated-line animated"><div></div></div>
                  <span>Youtube</span>
                </a>
              </li>
              <li class="preorder">
                <a href="" class="btn-preorder">
                  <div class="animated-line animated"><div></div></div>
                  <span>Pre-order now</span>
                </a>
              </li>
            </ul>
          </div>

          <div class="slider" style="top: -14px;">
            <ul>
              <li data-slide="1" class="active" style="width: 1425px;">
                <img src="photos/home_slider/slider_1.jpg" alt="" style="width: 1425px; height: 832.734375px; margin-left: 0px; margin-top: -140.5px;">
              </li>
              <li data-slide="2" class="inactive" style="width: 1425px;">
                <img src="photos/home_slider/slider_2.jpg" alt="" style="width: 1425px; height: 832.734375px; margin-left: 0px; margin-top: -140.8671875px;">
              </li>
              <li data-slide="3" class="inactive" style="width: 1425px;">
                <img src="photos/home_slider/slider_3.jpg" alt="" style="width: 1425px; height: 832.734375px; margin-left: 0px; margin-top: -140.8671875px;">
              </li>
            </ul>
          </div>
        </div>
        <!-- \First Block -->

        <!-- Second Block -->
        <div id="block-ctas">
          <img src="photos/home_block-ctas-bg.png" alt="">
          <ul>
            <li class="left">
              <a href="product-ads.php" class="btn-products">
                <img src="photos/home_block-ctas-products.jpg" alt="">
                <h2>Products</h2>
                <h3>
                  <div class="animated-line animated"><div></div></div>
                  <span>See all</span>
                </h3>
              </a>
            </li>
            <li class="center">
              <a href="our-story.php">
                <img src="photos/home_block-ctas-story.jpg" alt="">
                <h2>Our story</h2>
                <h3>
                  <div class="animated-line animated"><div></div></div>
                  <span>Read</span>
                </h3>
              </a>
            </li>
            <li class="right">
              <a href="contact-us.php">
                <img src="photos/home_block-ctas-contact.jpg" alt="">
                <h2>Contact us</h2>
                <h3>
                  <div class="animated-line animated"><div></div></div>
                  <span>Please</span>
                </h3>
              </a>
            </li>
          </ul>
        </div>
        <!-- \Second Block -->

        <!-- Third Block -->
        <div id="block-technology">
          <img src="photos/home_block-technology.jpg" alt="" style="top: -450.75px;">
          <h2>
            <div class="animated-line animated"><div></div></div>
            <span>Using technology <br>to improve the world <br>we live in</span>
            <div class="animated-line animated"><div></div></div>
          </h2>
        </div>
        <!-- \Third Block -->
      </section>


      <div id="loading-mask" style="display: none;"></div>

    </div>



</template>
